@font-face {
  font-family: 'Montserrat';
  src: url('./font.woff2');
}

path.off {
  fill: gray !important;
}

#map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: steelblue;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
}
